<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="official website fansbase Freya JKT48" />
    <meta name="author" content="freyanation" />
    <title>Freyanation - About Freya</title>
    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="../assets/img/icon/icon.jpg" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../assets/css/styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;"
    class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light py-3">
            <div class="container px-5">
                <img src="../assets/img/icon/icon.jpg" style="width: 50px; border-radius: 30px;">
                <a class="navbar-brand" href="/"><span class="fw-bolder mx-2"
                        style="color: #071e3d;">Freyanation</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder ">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about-freya">About Freya</a></li>
                        <li class="nav-item"><a class="nav-link" href="/freyanation">Freyanation</a></li>
                        <li class="nav-item"><a class="nav-link" href="/galery">Galery</a></li>
                        <li class="nav-item"><a class="nav-link" href="/project">Project</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class=" py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div data-aos="zoom-in-right" class="col-xl-5 d-flex justify-content-center mb-5">
                        <img class="img-thumbnail" src="../assets/img/jiko.jpg" width="460px" alt="" srcset=""
                            align="center">
                    </div>
                    <div data-aos="zoom-in-left" class="col-xl-7" style="text-align: center;">
                        <h2>"Gadis koleris yang suka berimajinasi, terangi harimu dengan senyuman karamelku."</h2>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="0%"></stop>
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                    d="M0,60L21.8,58.3C43.6,57,87,53,131,56.7C174.5,60,218,70,262,63.3C305.5,57,349,33,393,25C436.4,17,480,23,524,31.7C567.3,40,611,50,655,58.3C698.2,67,742,73,785,75C829.1,77,873,73,916,70C960,67,1004,63,1047,51.7C1090.9,40,1135,20,1178,23.3C1221.8,27,1265,53,1309,66.7C1352.7,80,1396,80,1440,68.3C1483.6,57,1527,33,1571,31.7C1614.5,30,1658,50,1702,58.3C1745.5,67,1789,63,1833,58.3C1876.4,53,1920,47,1964,51.7C2007.3,57,2051,73,2095,70C2138.2,67,2182,43,2225,35C2269.1,27,2313,33,2356,30C2400,27,2444,13,2487,10C2530.9,7,2575,13,2618,23.3C2661.8,33,2705,47,2749,51.7C2792.7,57,2836,53,2880,56.7C2923.6,60,2967,70,3011,75C3054.5,80,3098,80,3120,80L3141.8,80L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z">
                </path>
            </svg>
        </div>
        <section class=" py-5 bg-palet" style="margin-top: -10px ; margin-bottom: -10px ;">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div data-aos="zoom-in-left" class="col-xl-8" style="text-align: justify;">
                        <h1 class="fw-bold text-warning">Freya Jayawardana</h1>
                        <p class="text-white">Freyanashifa Jayawardana atau biasa dipanggil Freya lahir di Tangerang
                            pada tanggal 13
                            Februari 2006. Ia merupakan anak ke-1 dari 3 bersaudara. Dia memiliki 2 adik laki-laki.
                            Freya merupakan keturunan Sultan Hamengkubuwono II dan memiliki gelar Raden Roro.</p>
                        <p class="text-white">Pada 29 September 2018, dia mulai bergabung sebagai anggota Academy's
                            Class B. Namun
                            sayangnya, pada 25 Oktober 2018 dia tidak lolos dalam tahap awal Class B Academy Exam.
                            Seiring berjalannya waktu, dia telah melalui sejumlah ujian hingga membuat dirinya berhasil
                            mempromosikan diri ke Academy Class A pada 18 Desember 2018. Selang dua tahun, usahanya
                            nampak berujung keberhasilan, sebab dua tahun kemudian, tepatnya pada 2 Juni dia bergabung
                            dengan Tim T JKT48. Hingga pada tahun 2021, Freya akhirnya berhasil menggapai mimpi
                            tersebut. Pada 12 Maret 2021 dirinya resmi menjadi anggota JKT48 generasi ketujuh</p>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="" href="https://twitter.com/Freya_JKT48" target="_blank"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://www.instagram.com/jkt48.freya/" target="_blank"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.tiktok.com/@freyajkt48/" target="_blank"><i
                                    class="bi bi-tiktok"></i></a>
                        </div>
                    </div>
                    <div data-aos="zoom-in-right" class="col-xl-4 d-flex justify-content-center mt-5">
                        <img class="img-thumbnail" src="../assets/img/kabesa.jpg" width="400px" alt="" srcset=""
                            align="center">
                    </div>
                </div>
            </div>
        </section>
        <div>
            <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="0%"></stop>
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                    d="M0,60L80,58.3C160,57,320,53,480,56.7C640,60,800,70,960,63.3C1120,57,1280,33,1440,25C1600,17,1760,23,1920,31.7C2080,40,2240,50,2400,58.3C2560,67,2720,73,2880,75C3040,77,3200,73,3360,70C3520,67,3680,63,3840,51.7C4000,40,4160,20,4320,23.3C4480,27,4640,53,4800,66.7C4960,80,5120,80,5280,68.3C5440,57,5600,33,5760,31.7C5920,30,6080,50,6240,58.3C6400,67,6560,63,6720,58.3C6880,53,7040,47,7200,51.7C7360,57,7520,73,7680,70C7840,67,8000,43,8160,35C8320,27,8480,33,8640,30C8800,27,8960,13,9120,10C9280,7,9440,13,9600,23.3C9760,33,9920,47,10080,51.7C10240,57,10400,53,10560,56.7C10720,60,10880,70,11040,75C11200,80,11360,80,11440,80L11520,80L11520,100L11440,100C11360,100,11200,100,11040,100C10880,100,10720,100,10560,100C10400,100,10240,100,10080,100C9920,100,9760,100,9600,100C9440,100,9280,100,9120,100C8960,100,8800,100,8640,100C8480,100,8320,100,8160,100C8000,100,7840,100,7680,100C7520,100,7360,100,7200,100C7040,100,6880,100,6720,100C6560,100,6400,100,6240,100C6080,100,5920,100,5760,100C5600,100,5440,100,5280,100C5120,100,4960,100,4800,100C4640,100,4480,100,4320,100C4160,100,4000,100,3840,100C3680,100,3520,100,3360,100C3200,100,3040,100,2880,100C2720,100,2560,100,2400,100C2240,100,2080,100,1920,100C1760,100,1600,100,1440,100C1280,100,1120,100,960,100C800,100,640,100,480,100C320,100,160,100,80,100L0,100Z">
                </path>
            </svg>
        </div>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 mb-3 text-center">
                        <h1 class="fw-bold">Kabesha Freya dari masa ke masa</h1>
                    </div>
                    <div class="wrapper card card-custom p-3 py-4">
                        <i id="left" class="fas fa-solid fa-chevron-left fa-2xl"></i>
                        <div class="carousel kabesha">
                            <img src="../assets/img/kabesha/kabesa-A.webp" alt="img" draggable="false">
                            <img src="../assets/img/kabesha/kabesa-B.webp" alt="img" draggable="false">
                            <img src="../assets/img/kabesha/kabesa-C.webp" alt="img" draggable="false">
                            <img src="../assets/img/kabesha/kabesa-D.webp" alt="img" draggable="false">
                            <img src="../assets/img/kabesha/kabesa-E.webp" alt="img" draggable="false">
                        </div>
                        <i id="right" class="fas fa-solid fa-chevron-right fa-2xl"></i>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="0%"></stop>
                        <stop stop-color="rgba(7, 30, 61, 1)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                    d="M0,60L21.8,58.3C43.6,57,87,53,131,56.7C174.5,60,218,70,262,63.3C305.5,57,349,33,393,25C436.4,17,480,23,524,31.7C567.3,40,611,50,655,58.3C698.2,67,742,73,785,75C829.1,77,873,73,916,70C960,67,1004,63,1047,51.7C1090.9,40,1135,20,1178,23.3C1221.8,27,1265,53,1309,66.7C1352.7,80,1396,80,1440,68.3C1483.6,57,1527,33,1571,31.7C1614.5,30,1658,50,1702,58.3C1745.5,67,1789,63,1833,58.3C1876.4,53,1920,47,1964,51.7C2007.3,57,2051,73,2095,70C2138.2,67,2182,43,2225,35C2269.1,27,2313,33,2356,30C2400,27,2444,13,2487,10C2530.9,7,2575,13,2618,23.3C2661.8,33,2705,47,2749,51.7C2792.7,57,2836,53,2880,56.7C2923.6,60,2967,70,3011,75C3054.5,80,3098,80,3120,80L3141.8,80L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z">
                </path>
            </svg>
        </div>
        <section class="timeline-section bg-palet" style="margin-top: -10px ; margin-bottom: -10px ;">
            <div class="col-12 mb-3 text-center">
                <h2 class="fw-bold " style="color: #eaa023;">TIMELINE FREYA</h2>
            </div>
            <div class="timeline-items">
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">26 Oktober 2018</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Diperkenalkan menjadi member JKT48</h3>
                            <iframe src="https://www.youtube.com/embed/kdLuPyPOv1A" frameborder="0"
                                allowfullscreen></iframe>
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">18 Desember 2018</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Dipromosikan Academy Class A</h3>
                            <img src="../assets/img/kabesha/kabesa-B.webp" width="200px" alt="img" draggable="false">
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">2 Juni 2020</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Masuk Team T</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="360" height="203"
                                    src="https://www.youtube.com/embed/JPr7-onPMYs?feature=share" frameborder="0"
                                    allowfullscreen></iframe>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">8 Agustus 2020</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Sonichi Setlist Fly! Team T</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="360" height="203"
                                    src="https://www.youtube.com/embed/rD9rWPX7_0U" frameborder="0"
                                    allowfullscreen></iframe>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">12 Maret 2021</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Resmi masuk anggota inti JKT48</h3>
                            <img src="../assets/img/kabesha/kabesa-D.webp" width="200px" alt="img" draggable="false">
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">16 Maret 2021</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Masuk senbatsu Darashinai Aishikata</h3>
                            <img src="../assets/img/timeline/senbatsu.jpg" width="200px" alt="img" draggable="false">
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">7 November 2021</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Masuk ke MV Special Performance "Only Today"</h3>
                            <div class="gif">
                                <img src="../assets/img/timeline/only.gif" alt="" srcset="">
                            </div>
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">13 Maret 2023</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Masuk MV Special Performance Video – Benang Sari, Putik, dan Kupu-Kupu Malam</h3>
                            <div class="gif">
                                <img src="../assets/img/timeline/oshibe.gif" alt="" srcset="">
                            </div>
                        </center>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">12 Juni 2023</div>
                    <div data-aos="fade-up" class="timeline-content">
                        <center>
                            <h3>Masuk [MV] Ponytail dan Shu-Shu - JKT48</h3>
                            <div class="gif">
                                <img src="../assets/img/timeline/ponytail.png" alt="" srcset="">
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-palet py-4 mt-auto text-white">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Copyright &copy; Freyanation</div>
                </div>
                <div class="col-auto">
                    <a href="https://www.instagram.com" class="btn btn-primary"><i class="fab fa-instagram"></i></a>
                    <span class="mx-1">&middot;</span>
                    <a href="https://www.twitter.com" class="btn btn-primary"><i class="fab fa-twitter"></i></a>
                    <span class="mx-1">&middot;</span>
                    <a href="https://www.tiktok.com" class="btn btn-primary"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../assets/js/scripts.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        var typingEffect = new Typed(".multi-typing", {
            strings: ["JKT48 Freya", "Freya JKT48"],
            loop: true,
            typeSpeed: 80,
            backSpeed: 100,
            startDelay: 1,
            backDelay: 10
        })
    </script>

</body>

</html>