<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="lightbox.css">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .containerr {
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 8%;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-gap: 30px;
    }

    .gallery img {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="containerr">
    <div class="gallery">
      <a href="../public/img/carousel/img-1.jpg" data-lightbox="models" data-title="Caption1">
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      </a>
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      <img src="../public/img/carousel/img-1.jpg" alt="img">
      <img src="../public/img/carousel/img-4.jpg" alt="img">
    </div>
  </div>

  <script src="lightbox-plus-jquery.js"></script>
</body>
</html>